<h1>Current Discounts</h1>
  <% @discounts.each do |discount| %>
    <section id= <%= "discount-#{discount.id}" %>>
    <%= discount.name %>
    <%= "#{discount.percentage}% off of #{discount.desired_quantity} Items" %>
    <%= link_to "Edit this discount", "/merchant/discounts/#{discount.id}/edit", method: :get %>
    <section/>
  <% end %>

  <h1 align= "center">Create Discount</h1>
<center>
  <%= render partial: 'form', locals: {path: '/merchant/discounts', method: :post, button_text: 'Create Discount'} %>
</center>
